<a href="https://colab.research.google.com/github/JeongEun-Hwang/220110_OPR/blob/master/220106_%EC%88%98%EC%97%85_List~__Bigdataclassnote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**List**

In [10]:
data = [1,2.3,4,5]
data

[1, 2.3, 4, 5]

In [ ]:
strlist = ['I', 'love', 'you']

In [9]:
type(strlist)

list

 list [ ]안의 것들은 하나하나 elemet/ 요소 한다. 

 **list 안의 요소들은 동일한 포멧으로 작성하는 것이 가장 좋다 **
  
 **indexing = index를 가지고 특정 위치의  값을 가져오는 것을 말한다. **

In [4]:
strlist = list('I love you')
strlist

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'y', 'o', 'u']

strlist
변수명 지정시 데이터 타입(이름)을 넣어 지정하는 경우도 있다.

In [37]:
data =[1,2,3,4,5]

data[0]

1

data list의 0번째 값은 1

In [6]:
data[0] + data[1]

3.3


list의 연산은 요소(element)단위로 가능하다. 
더하기 연산도 가능하다

In [8]:
data[-1]

5

In [13]:
comlist2 =[1,2,['i','love','you']]

In [14]:
comlist2[0]

1

In [15]:
comlist2[-1]

['i', 'love', 'you']

In [18]:
comlist2[-1][1]

'love'

[-1] = ['i', 'love', 'you']를 가리 키고 그 안의 love를 가리키기 위해서는 1dmlf dls

In [19]:
clomlist2[[1]]

NameError: ignored

indexing 할때 리스트의 인덱스는 인덱스이면 안된다.
=> 오류가 나는 이유 : 리스트로 되어 있기 때문에 오류가 나게 된다. 

참고) stackoverflow :여러가지 오류를 올려놓은 사이트

In [27]:
comlist3 = [1,2,['a','b',['life','love','you']]]

In [28]:
comlist3 [-1][-1][0]

'life'

In [29]:
comlist3[2][2][0]

'life'

리스트 )문자열과 숫자와 직접적인 덧셈은 불가능하다.(type error)

In [31]:
comlist3[0] + comlist3[2][0]

TypeError: ignored

In [ ]:
str(tmp1)

숫자를 스트링 형으로 바꿔야 숫자와 문자열의 덧셈이 가능해 진다. 
**요소의 형태가 같아야 연산이 가능**

## **slicing**

: 자르는 것

In [38]:
data

[1, 2, 3, 4, 5]

In [39]:
sData=data[:2]
sData

[1, 2]

**맨 마지막에 있는 index의 값은 포함되지 않는다 **

:2까지 slicing 하되 맨 마지막의 값은 포함하지 않는다.

In [42]:
sData2 = data[2:]
sData2

[3, 4, 5]

In [46]:
data3 = [1,2,3,['a','b','c'],4,5]

In [48]:
data3[2:5]

[3, ['a', 'b', 'c'], 4]

In [49]:
data3[3][:2]

['a', 'b']

## **List연산**

In [50]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [51]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

문자열이 반복되게 된다.

In [52]:
a

[1, 2, 3]

원본 리스트는 바뀌지 않는다.

In [53]:
len(a)

3

a의 길이 : len(a) 함수

In [54]:
a[2] + 'hahaha'

TypeError: ignored

typeerror  : 문자열 에러
--> 문자열과 숫자 연산은 불가능하다.

In [55]:
str(a[2]) +'hahaha'

'3hahaha'

**str :숫자를 문자로 (강제)형변환**

In [ ]:
help(str)

문자형 / 클래스 / 함수명을 모르겠을 때 사용하는 함수 :help(함수명)

In [62]:
a[-1] = 5
a

[1, 2, 5]

- 리스트와 문자열 지우는 차이가 뭔지 한번 더 공부하기

In [74]:
a = [1,2,5]
a

[1, 2, 5]

In [75]:
del a[0]
a

[2, 5]

In [72]:
a =[1,2,3,4,5]

In [73]:
del a[2:]
a

[1, 2]

##** list에서 쓸 수 있는 함수들 **

###추가 **.append()함수**

In [79]:
a =[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [80]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [81]:
a[4][0]

5

In [82]:
a[-1][0]

5

### 정렬_ .sort()

In [83]:
a =[1,2,3,4]

In [84]:
a

[1, 2, 3, 4]

In [86]:
a.sort()
a

[1, 2, 3, 4]

In [89]:
b = ['a','d','b','c']
b

['a', 'd', 'b', 'c']

In [91]:
b.sort()
b

['a', 'b', 'c', 'd']

컴퓨터는 영어의 순서를 모른다.
문자열 -> 아스키코드로 변환하여 컴퓨터가 인식하게 함

### 순서반대_ .reverse()함수

In [92]:
b.reverse()

ㄴ 순서를 반대로 하고 싶을 경우

In [95]:
b

['d', 'c', 'b', 'a']

### index위치 찾기_ .index() 함수

In [94]:
b.index('b')

2

ㄴ 특정한 값을 가지고 그 위치(index)를 알고 싶을때

ㄴ 코드 해석 : 'b' 라는 문자의 위치는?

In [103]:
a = [1,2,3]

###위치지정 .insert(index,object) 함수

In [100]:
a.insert a[4]

SyntaxError: ignored


*   들어갈 자리, 들어갈 값이 필요하다. 
*   변수. insert(index, object)

In [104]:
a.insert(0,4)
a

[4, 1, 2, 3]

In [106]:
a.insert(3,5)

**특정 위치에 인덱스를 넣고 싶을 경우**

In [108]:
a= [1,2,3]
a = a*3
a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 특정 요소 삭제 .remove(요소)

In [110]:
a.remove(3)
a

[1, 2, 1, 2, 1, 2, 3]

remove : value로 넣은 입력값을 찾아 한번만 찾아서 지운다. 


*  3을 3개다 지우고 싶으면 : 3번 실행하면 됨
*   리스트에 있는 숫자를 모두 지우고 싶으면 에러가 나지 않을 때 까지 반복해서 remove 함수를 사용하면 된다. 


ex ) 
-> 리스트에 없는 숫자를 지우게 되면 에러가 나게된다.

In [120]:
a  = [1,2,3,1,2,3]


--------------이건 그냥 보기
while True:
    try :
      a.remove(3)
      print(a)

    except Exception as e:
      print('e')
      break

a

[1, 2, 1, 2, 3]
[1, 2, 1, 2]
e

[1, 2, 1, 2]

### .pop() 함수

In [255]:
a =[1,2,3]

a.pop(2)

a

[1, 2]

마지막 숫자를 빼오고 싶을 경우
변수.pop()

val.a 는 뭔지 알아보기

####remove,pop 차이점

In [ ]:
a = [1,2,3]

a.remove(3)

remove 함수, pop 함수 차이점은?

= 입력값이 다르다 :pop 은 인덱스값 , remove는 인자값


= pop() 반환 된 값을 필요로하는 경우 인덱스를 제거하고, remove() 값으로 요소를 삭제합니다

### 특정 요소 개수 세기_ .count()함수

In [126]:
a = [1,2,3,1,2]
a.count(1)

2

count 함수 = 인자값의 갯수

In [127]:
a.count(3)

1

### 확장 함수 :.extend()

In [284]:
a =[ 1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [286]:
b

[4, 5, 6]

**a+b를 새로운 리스트로 돌려준다.**
**a,b 리스트는 각각 그대로이다. (변한게 없다.)**

In [287]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [288]:
b

[4, 5, 6]

확장함수( .extend())  : a = a+b 

ex ) a.extend(b) a에 a+b값을 넣어준다.

### ===== 실습====

#### append (삽입함수)

In [147]:
movie_title = ['스파이더 맨','결관의 피', '씽2게더']

In [148]:
movie_title

['스파이더 맨', '결관의 피', '씽2게더']

In [135]:
movie_title [0]

'스파이더 맨'

In [151]:
movie_title.append('킹스맨')
movie_title

['스파이더 맨', '결관의 피', '씽2게더', '킹스맨', '킹스맨']

함수 타입이 tuple 일경우 변환
Ex) movie_title = list(movie_title)

#### insert (특정 위치 삽입)

In [154]:
movie_title.insert(1,'매트릭스')
movie_title

['스파이더 맨', '매트릭스', '결관의 피', '씽2게더', '킹스맨', '왕의 남자', '왕의 남자', '킹스맨']

#### del/pop/remove(인자) :인자 제거

In [155]:
movie_title.remove('매트릭스')
movie_title

['스파이더 맨', '결관의 피', '씽2게더', '킹스맨', '왕의 남자', '왕의 남자', '킹스맨']

In [156]:
movie_title = ['스파이더 맨','매트릭스','결관의 피', '씽2게더']

movie_title.pop(1)
movie_title

['스파이더 맨', '결관의 피', '씽2게더']

In [159]:
movie_title = ['스파이더 맨','매트릭스','결관의 피', '씽2게더']
del movie_title[1]
movie_title

['스파이더 맨', '결관의 피', '씽2게더']

#### 확장함수 extend (list 합치기)

In [ ]:
# language 
# ['C', 'C++', 'Java', 'Python', 'Javascript'] 결과 추출되도록

In [167]:
compile_lang = ['C','C++','Java']

interprete_lang = ['Python','Javascript']

In [161]:
language = compile_lang +interprete_lang
language

['C', 'c++', 'Java', 'Python', 'Javascript']

In [163]:
compile_lang.extend(interprete_lang)
language = compile_lang
language

['C', 'c++', 'Java', 'Python', 'Javascript', 'Python', 'Javascript']

In [169]:
language = compile_lang.extend(interprete_lang)

#### list nums의 최대 최소값

In [174]:
# list nums의 최대 최소값
nums = [1,2,3,4,5,6]

In [184]:
print(f'최대값 :{max(nums)}')
print(f'최소값 :{min(nums)}')

최대값 : 6
최소값 : 1

#### 합,평균

In [201]:
# num_sum = sum(nums)
#print(f'총합 :{sum(nums)}')
print(f'총합 :{sum(nums)}')

총합 :21

In [203]:
#. 평균값

avg_num = num_sum/len(nums)
print(f'평균 :{avg_num}')
#avg_num

평균 :3.5

In [208]:
print (f'평균 :{sum(nums)/len(nums)}')

평균 :3.5

In [207]:
import numpy as np

array = np.array(nums)
print(f'평균값 :{np.mean(array)}')

평균값 :3.5

====================================================

#### 특정인자 제거

In [225]:

#124000,124000,123500,124000,124000,124000,124500 을 결과로 추출해라

stock = [20220110,124000,124000,123500,124000,124000,124000,124500]

In [229]:
# case1
stock = [20220110,124000,124000,123500,124000,124000,124000,124500]
stock.pop(0)   
stock

[124000, 124000, 123500, 124000, 124000, 124000, 124500]

stock.pop(0) 만 하면 
(0) 번째 인덱스 값만 추출되므로
0번째를 제외한 값을 보기 위해서는 
stock를 작성해주어야한다.

In [230]:
#case2
stock = [20220110,124000,124000,123500,124000,124000,124000,124500]
stock[1:]

[124000, 124000, 123500, 124000, 124000, 124000, 124500]

In [231]:
stock = [20220110,124000,124000,123500,124000,124000,124000,124500]
del stock[0]
stock

[124000, 124000, 123500, 124000, 124000, 124000, 124500]

In [235]:
#case 4
stock = [20220110,124000,124000,123500,124000,124000,124000,124500]
stock.remove(20220110)
stock

[124000, 124000, 123500, 124000, 124000, 124000, 124500]

====================================================

#### slice를 이용한 홀수, 짝수,역수 추출하기

In [243]:
#(start index :stop index:step(얼마나 건너뛸껀지))
# ':: ' = step_건너뛰다 의미
nums =[1,2,3,4,5,6]

In [238]:
nums[1::2]

[2, 4, 6]

In [240]:
nums[::2]

[1, 3, 5]

In [250]:
nums =[1,2,3,4,5,6]
#nums.reverse()
#nums
#----------------#
nums[::-1]

[6, 5, 4, 3, 2, 1]

#Tuple

In [256]:
#lst = []
#lst =list()

t1 =()
t2 =(1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

빈 tuple 은 소괄호를 사용한다. 
ex) t1 =()

In [257]:
t4

(1, 2, 3)

In [258]:
type(t4)

tuple

In [259]:
t1 = {1,2,'a','b'}

In [261]:
del t1[0]

TypeError: ignored

In [265]:
t1 = {1,2,'a','b'}
#tuple을 편집하기 위해서는 형변환이 필요하다. 
#  t1 = list(t1)
del t1[0]

t1

[2, 'a', 'b']

In [267]:
t1 = {1,2,'a','b'}

t1[0] = 100

t1

#========맞게 하는 방법
#t1 = {1,2,'a','b'}

#t1 = list(t1)
#t1[0] = 100

#t1

[100, 2, 'a', 'b']

중요하지 X
변수가 '할당' 용어를 사용하는 이유  
= 값의 위치정보만 가지고 있다.

##tuple indexing
list와의 차이점 :요소(element)의 수정이 불가능하다.

In [280]:
#튜플 indexing
t1 = (1,2,'a','b')
t1

(1, 2, 'a', 'b')

In [281]:
type(t1)

tuple

In [279]:
t1[0]

TypeError: ignored

##tuple slicing

In [282]:
#튜플 slicing
t1[1:]

(2, 'a', 'b')

##Tuple 연산자

In [271]:
t1 = (1,2,'a','b')
t2 = ('c','d')
t1+t2

(1, 2, 'a', 'b', 'c', 'd')

In [283]:
t2 = ('c','d')
t2*3

('c', 'd', 'c', 'd', 'c', 'd')

In [273]:
len(t1)

4

t1 의 개수(길이) 찾기

In [275]:
t1 = (1,2,'a','b')
t2 = ('c','d')

t2.count('c')

1